<!DOCTYPE html>
<html lang="en">
<head>
    <link 
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .i-am-centered {
            margin: auto;
            max-width: 400px;
            padding-top: 10%;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="i-am-centered">
        <h4>Замовлення # </h4>
       <h4>Заклад: </h4>
       <h4>Перелік замовлення: </h4>
    </div>
</body>
</html>